{% extends 'base.html' %}
{% block title %}Статьи{% endblock %}
{% block content %}
<div class="float-right">
    <form action="{% url 'article_list' %}" method="GET">
        {% csrf_token %}
        {{ form.article_name }}
        <button type="submit" class="btn btn-dark">Искать</button>
    </form>
</div>
    <div class="row">
        {% for article in article_list %}
            <div class="col-sm-6">
                <div class="card mb-5">
                        <div class="card-header article_list">
                            <p><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></p>
                        </div>
                    <div class="card-body">
                        <p>Автор: {{ article.author }}</p>
                        <a class="btn btn-dark btn_edit" href="{% url 'article_update' article.pk %}">Редактировать</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}